# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
# .python-version
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
.opencode/
htmlcov/
dist/
build/

# IDE settings
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

